### Principais comando do Pandas

### - Importando o pandas

In [1]:
import pandas as pd

### - Criando um Dataframe a partir de um dicionário

In [ ]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
venda_df = pd.DataFrame(venda)

{'data': ['15/02/2021', '16/02/2021'], 'valor': [500, 300], 'produto': ['feijao', 'arroz'], 'qtde': [50, 70]}

### - Visualização dos Dados

    - print
    - display

In [6]:
venda_df = pd.DataFrame(venda)
display(venda_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### - Importando Arquivos e Bases de Dados

In [35]:
venda_df = pd.read_excel("f:/DaLucas_Codes/PYTHON FUNDAMENTALS/ARQUIVOS EXCEL/Vendas.xlsx")
display(venda_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### - Resumos de Visualização de Dados Simples e Úteis

    - head
    - shape
    - describe

In [18]:
display(venda_df.head(10))
display(venda_df.shape)
display(venda_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

### Pegar 1 Coluna (e os pd.Series)

In [20]:
produtos = venda_df[['Produto', 'ID Loja']]
display(produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### .loc, Um Método Muito Importante

    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [ ]:
# Pegar uma linha : 
display(venda_df.loc[1:5])

# Pegar linhas de acordo com as condições : 
vendas_norteshopping_df = venda_df.loc[venda_df['ID Loja'] == 'Norte Shopping']

# Pegar várias linhas e colunas usando o loc : 
venda_df = pd.read_excel("f:/DaLucas_Codes/PYTHON FUNDAMENTALS/ARQUIVOS EXCEL/Vendas.xlsx")
vendas_norteshopping_df = venda_df.loc[venda_df['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]]
display(vendas_norteshopping_df)

# Pegar 1 valor específico : 
display(venda_df.loc[1, 'Produto'])

Camiseta

### Adicionar 1 coluna

In [ ]:
# A partir de uma coluna que existe : 
venda_df['Comissão'] = venda_df['Valor Final'] * 0.05
display(venda_df)

# Criar uma coluna com valor padrão : 
venda_df.loc[:, "Imposto"] = 0
display(venda_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Adicionar 1 linha

- Linhas de um complemento da base de dados

In [45]:
import pandas as pd

vendas_dez_df = pd.read_excel("f:/DaLucas_Codes/PYTHON FUNDAMENTALS/ARQUIVOS EXCEL/Vendas - Dez.xlsx")
# display(vendas_dez_df)

# Substituindo append por concat pois a nova versão do pandas não permite usar .append
venda_df = pd.concat([venda_df, vendas_dez_df])
display(venda_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Excluir linhas e colunas

In [46]:
venda_df = venda_df.drop("Imposto", axis=1)
display(venda_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

### Valores Vazios

- Deletar linhas/colunas vazias
- Deletar linhas que possuem valores vazios
- Preencher valores vazios (média e último valor)

In [ ]:
# Deletar linhas e colunas tudo vazia : 
#venda_df = venda_df.dropna(how='all', akis=1)

# Deletar linhas que possuem pelo menos 1 valor vazio : 
#venda_df = venda_df.dropna()

# Preencher valores vazios : 
    # Preencher com a média da coluna : 
#venda_df['Comissão'] = venda_df['Comissão'].fillna(venda_df['Comissão'].mean())
#display(venda_df)

    # Preencher com o último valor : 
venda_df = venda_df.ffill()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.900000
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743133
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743133
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743133
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743133
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743133

### Calcular Indicadores

- Groupby
- Value Counts

In [ ]:
# Value Counts : 
transacoes_loja = venda_df['ID Loja'].value_counts()
display(transacoes_loja)

# Group by : 
faturamento_produto = venda_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

ID Loja
Shopping Vila Velha                 4832
Rio Mar Recife                      4831
Palladium Shopping Curitiba         4812
Iguatemi Campinas                   4738
Rio Mar Shopping Fortaleza          4706
Norte Shopping                      4689
Bourbon Shopping SP                 4688
Salvador Shopping                   4634
Shopping SP Market                  4624
Center Shopping Uberlândia          4613
Shopping Eldorado                   4610
Ribeirão Shopping                   4602
Shopping Iguatemi Fortaleza         4601
Shopping Ibirapuera                 4597
Passei das Águas Shopping           4578
Shopping Morumbi                    4572
Shopping União de Osasco            4563
Shopping Center Leste Aricanduva    4553
Shopping Center Interlagos          4529
Novo Shopping Ribeirão Preto        4527
Iguatemi Esplanada                  4496
Shopping Barra                      4482
Parque Dom Pedro Shopping           4482
Shopping Recife                     4463
Shopping Midway Mall                4355
Name: count, dtype: int64

                  Valor Final
Produto
Bermuda            325.078864
Bermuda Estampa    365.415556
Bermuda Linho      428.625000
Bermuda Liso       348.616927
Bermuda Listrado   348.289144
...                       ...
Tênis Estampa      548.033613
Tênis Linho        630.000000
Tênis Liso         570.599369
Tênis Listrado     566.923404
Tênis Xadrez       542.086729

[120 rows x 1 columns]

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)